
# DATABASE (postgresql)
DB_TYPE=postgresql # only support postgresql actualy :)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=life_tracking_db
DB_USERNAME=life_tracking_app
DB_PASSWORD=life_track_app password